@*@model IEnumerable<TropicTrail.Reservation>*@
@model TropicTrail.Lists
@{
    ViewBag.Title = "ManageReservations";
}
<link href="~/Content/css/ManageReservation.css" rel="stylesheet" />


<body>
    <table class="table" style="background-color: white;">
        <thead class="thread-dark">
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.getReserve.userId)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.getReserve.offersName)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.getReserve.maxGuest)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.getReserve.tourId)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.getReserve.checkIn)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.getReserve.price)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.getReserve.lastName)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.getReserve.firstName)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.getReserve.contactNum)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.getReserve.email)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.getReserve.payment)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.getReserve.balance)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.getReserve.status)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.reserve)
            {
                <tr>
                    <td scope="col">
                        @Html.DisplayFor(modelItem => item.userId)
                    </td>
                    <td scope="col">
                        @Html.DisplayFor(modelItem => item.offersName)
                    </td>
                    <td scope="col">
                        @Html.DisplayFor(modelItem => item.maxGuest)
                    </td>
                    <td scope="col">
                        @Html.DisplayFor(modelItem => item.tourId)
                    </td>
                    <td scope="col">
                        @Html.DisplayFor(modelItem => item.checkIn)
                    </td>
                    <td scope="col">
                        @Html.DisplayFor(modelItem => item.price)
                    </td>
                    <td scope="col">
                        @Html.DisplayFor(modelItem => item.lastName)
                    </td>
                    <td scope="col">
                        @Html.DisplayFor(modelItem => item.firstName)
                    </td>
                    <td scope="col">
                        @Html.DisplayFor(modelItem => item.contactNum)
                    </td>
                    <td scope="col">
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td scope="col">
                        @Html.DisplayFor(modelItem => item.payment)
                    </td>
                    <td scope="col">
                        @Html.DisplayFor(modelItem => item.balance)
                    </td>
                    <td scope="col">
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                    <td scope="col">
                        <a href="#" data-id="@item.id">Confirm</a> 
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) 
                       @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>
                </tr>
            }

        </thead>
    </table>


</body>

<!-- Confirmation Modal -->
<div id="confirmModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Reservation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to confirm this reservation?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="confirmReservationBtn">Confirm</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/pop.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>