@*@model IEnumerable<TropicTrail.UserAccount>*@
@model TropicTrail.Lists
@{
    ViewBag.Title = "ManageUsers";
}
<link href="~/Content/css/ManageUsers.css" rel="stylesheet" />
<h2>ManageUsers</h2>

<p >
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" style="background-color: white;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.getUsers.userId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.getUsers.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.getUsers.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.getUsers.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.getUsers.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.getUsers.roleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.getUsers.date_created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.getUsers.date_modified)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.listOfUsers) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.roleId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_modified)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
