@model IEnumerable<TropicTrail.Offers>

@{
    ViewBag.Title = "ManageOffers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ManageOffers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Tour Type
        </th>
        <th>
            Price
        </th>
        <th>
            
            Date Created
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.offersName)
        </td>
        <td>
            @item.TourType.tourName
        </td>
        <td>
            <span class="badge badge-success">Php @item.listPrice.ToString("N2")</span>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            <a href="~/Admin/OffersDetails/@item.offersId" class="btn btn-info" target="_blank"><i class="fa fa-info"></i> Details</a> |

            <button class="btn btn-danger" onclick="onDelete(@item.offersId)"><i class="fa fa-trash"></i> Delete</button>
        </td>
    </tr>
}

</table>
