@model TropicTrail.UserInformation

@{
    ViewBag.Title = "MyProfile";
}

<div class="container" style="background-color: whitesmoke;">
    <div class="profile-form">
        <style>
            body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 0;
            }

            .profile-container {
                max-width: 600px;
                margin: 20px auto;
                padding: 20px;
                border: 1px solid #ccc;
                border-radius: 5px;
                background-color: #f9f9f9;
            }

            .profile-pic {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                margin: 0 auto 20px;
                display: block;
            }

            .profile-details {
                text-align: left;
            }

                .profile-details div {
                    margin-bottom: 10px;
                }

            .profile-label {
                font-weight: bold;
            }
        </style>
            <div class="profile-container">
                <img src="@Url.Content("~/UploadedFiles/" + Model.profilePic)" alt="Profile Picture" class="profile-pic">
                <div class="profile-details">
                    <div>
                        <span class="profile-label">Last Name:</span> @Model.lastName
                    </div>
                    <div>
                        <span class="profile-label">First Name:</span> @Model.fistName
                    </div>
                    <div>
                        <span class="profile-label">Phone:</span> @Model.phone
                    </div>
                    <div>
                        <span class="profile-label">Email:</span> @Model.email
                    </div>
                    <div>
                        <span class="profile-label">Street:</span> @Model.street
                    </div>
                    <div>
                        <span class="profile-label">City:</span> @Model.city
                    </div>
                    <div>
                        <span class="profile-label">State:</span> @Model.state
                    </div>
                    <div>
                        <span class="profile-label">Zip Code:</span> @Model.zipCode
                    </div>
                    <div>
                        <a href="~/Home/EditProfile/@Model.userId" class="btn btn-info"><i class="fa fa-info"></i> Edit Profile</a>
                    </div>
                </div>
            </div>
    </div>
</div>